<div class="control-group">
  <label class="control-label" for="discord_role_id">{{i18n "groups.discord_rolesync_discord_role_id"}}</label>
  <p>{{i18n "groups.discord_rolesync_discord_role_id_warning"}}</p>
  {{text-field value=group.custom_fields.discord_role_id classNames="input-setting-string"}}
</div>
