{{discord-bot-status botstats=botstats}}
<div class='buttons'>
  {{d-button label="sync_discord.sync" action="syncDiscord" disabled=syncDisabled}}
  {{d-button label="sync_discord.start" action="startDiscord" }}
  {{d-button label="sync_discord.stop" action="stopDiscord" }}
</div>
